# --- Credenciales (NUNCA subir esto) ---
.env
*.pem
*.key
.oci/
infra/oci/*.pem
infra/oci/config

# --- Java / Maven ---
backend/target/
backend/*.class

# --- Python ---
ml-service/__pycache__/
ml-service/*.pyc
ml-service/.venv/
data-science/__pycache__/
data-science/.venv/
data-science/.ipynb_checkpoints/
*.pyc

# --- Node / Frontend ---
frontend/node_modules/
frontend/dist/
frontend/.vite/


# data-science/models/*.joblib
.contexto-proyecto/

# --- Sistema ---
.DS_Store
*.log
.vscode/
.idea/
*.iml
